.messages {
    gap:8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    .message {
        border: none;
        border-radius: 10px;
        background-color: #76a5a9;
        padding: 4px;
        word-wrap: break-word;
        min-width: 500px;
    }
}

