.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    .message {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        padding: 0.5rem;
        margin: 0.5rem;
        max-width: 80%;
        word-wrap: break-word;
    }
}

